[project]
	description = Project Euler implementation.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chaitanya Koparkar (cskksc)
[access "refs/for/refs/*"]
	read = group user/Chaitanya Koparkar (cskksc)
	push = group user/Chaitanya Koparkar (cskksc)
	label-Code-Review = -2..+2 group user/Chaitanya Koparkar (cskksc)
	label-Verified = -1..+1 group user/Chaitanya Koparkar (cskksc)
	rebase = group user/Chaitanya Koparkar (cskksc)
	removeReviewer = group user/Chaitanya Koparkar (cskksc)
	submit = group user/Chaitanya Koparkar (cskksc)
[access "refs/heads/*"]
	read = group user/Chaitanya Koparkar (cskksc)
	create = group user/Chaitanya Koparkar (cskksc)
	push = +force group user/Chaitanya Koparkar (cskksc)
	pushMerge = group user/Chaitanya Koparkar (cskksc)
[access "refs/tags/*"]
	push = +force group user/Chaitanya Koparkar (cskksc)
	pushTag = group user/Chaitanya Koparkar (cskksc)
	pushSignedTag = group user/Chaitanya Koparkar (cskksc)
